.estadisticasContainer {
  display: flex;
  flex-direction: column; /* Mantiene las cajas en columna */
  align-items: flex-start; /* Alinea los elementos al inicio */
  justify-content: flex-start; /* Empuja los elementos hacia arriba */
  gap: 10px; /* Espacio entre las cajas vertical*/
  padding: 0;
}

.ventasContainer {
  display: flex;
  flex-direction: row;
  gap: 20px; /* Ajusta el espacio entre las cajas */
  margin-bottom: 0; /* Asegúrate de que no haya margen inferior */
}

.graficoPlatosContainer {
  margin-left: 20px; /* Ajusta este valor según sea necesario */
  margin-top: 0; /* Elimina cualquier margen superior que pueda estar afectando la posición */
  width: 300px; /* Mantén el ancho deseado */
  flex-shrink: 0; /* Evita que se reduzca el tamaño si hay espacio limitado */

}

.graficoVentasContainer{
  display: flex;
  justify-content: left; /* O 'center' si deseas centrarlo en el contenedor */
  margin-top: 10px; /* Espacio superior para separar de las otras cajas */
  width: auto; /* Asegúrate de que el ancho se ajuste al contenido */
}