.graphContainer {
    background-color: #eef0d1; 
    border-radius: 10px;
    width: 100%; /* Ajusta el ancho para que se vea bien debajo de las cajas */
    max-width: 800px; /* Limitar el ancho máximo */
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Centrar el gráfico dentro del contenedor */
    height: 400px;
  }
  