.graphContainer {
  background-color: #eef0d1;
  border-radius: 10px;
  width: 700px; /* Ajusta según el espacio disponible */
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0; /* Reduce o elimina el espacio entre la gráfica y las cajas */
  }
  