/* DashboardLayoutBasic.scss */
.dashboardLayout {
    display: flex;
  }
  
  .sidebar {
    width: 240px;
    background-color: #f4f4f4; /* Ajusta el color a tu gusto */
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;
  }
  